.ls-gap-sm {
    gap: $ls-spacing-sm;
}

.ls-gap-md {
    gap: $ls-spacing-md;
}

.ls-mb-sm {
    margin-bottom: $ls-spacing-sm;
}

.ls-mb-md {
    margin-bottom: $ls-spacing-md;
}

.ls-mb-lg {
    margin-bottom: $ls-spacing-lg;
}

.ls-mt-sm {
    margin-top: $ls-spacing-sm;
}

.ls-mt-md {
    margin-top: $ls-spacing-md;
}

.ls-mt-lg {
    margin-top: $ls-spacing-lg;
}