<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Learn Sphere{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="{% if user_theme == 'light' %}light-theme{% endif %}">
    <!-- Common Header -->
    <header class="ls-header">
        <div class="ls-header-brand">
            <div class="ls-header-logo">LS</div>
            <span>Learn Sphere</span>
        </div>
        <!-- <button id="theme-toggle" class="ls-theme-toggle">
            ☀️/🌑
        </button> -->
    </header>

    <!-- Page Content -->
    {% block content %}{% endblock %}

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/theme-toggle.js') }}"></script>
</body>

</html>